.App {
  text-align: center;
}

body {
  font-family: "Montserrat", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#menu {
  cursor: pointer;
}

.linkOffCanvas {
  text-decoration: none;
  color: white;
}

.footerr {
  background-color: #08210c !important;
}

.botaoAddPergunta {
  display: flex;
  justify-content: flex-end;
}

.botaoAddPergunta:hover i {
  text-shadow: #3498db;
}

.addPergunta {
  border-radius: 100%;
  position: fixed;
}

.bold-icon {
  font-weight: bold;
}

.botaoExpandir {
  border-radius: 100%;
  font-weight: bolder;
}

.botaoExpandirTop {
  display: flex;
  justify-content: flex-end;
}

.gradient-btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  background: #0034a3;
  transition: all 0.3s ease;
  transform: scale(1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 25px;
  display: inline-block;
}

.gradient-btn:hover {
  background: #021166;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cardCurso {
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  background-color: #041017;
  height: 100px;
  width: 240px;
  color: #dbf8fe !important;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px #1c1e1f;
  margin-bottom: 15px;
  text-decoration: none;
  border: 0.5px solid #0a253f;
  font-size: 14px;
  font-weight: bold;
}
.cardCursoTarefa {
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  background-color: #041017;
  height: 100px;
  width: 240px;
  color: #dbf8fe !important;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px #1c1e1f;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0.5px solid #0a253f;
  font-size: 14px;
  font-weight: bold;
  padding: 0px;
}

.cardCurso:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cardCurso img {
  width: 40px !important;
  padding-top: 7%;
}

.cardCursoTarefa img {
  width: 40px !important;
  padding-top: 7%;
}
.cardCursoTarefa:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.caixa-selecao {
  height: 35px;
  font-size: 16px;
  color: #566265;
}

.caixa-busca {
  height: 35px;
  font-size: 16px;
  color: #566265;
  color: #566265;
}

.botao-buscar {
  height: 35px;
  width: 60px;
  background-color: #0a253f;
}
.botao-buscar:hover{
  background-color: #1a4b78;
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.3s;
}

.carousel-control-prev,
.carousel-control-next {
  margin: -140px;
}

.carousel-indicators {
  bottom: -35px;
}

.caixaTexto {
  height: 52px;
  width: 364px;
  background-color: white;
  border-radius: 16px;
}

.botao {
  height: 52px;
  width: 124px;
  background-color: #0f6cf7;
  border-radius: 16px;
  border-color: #0f6cf7;
}

.botao:hover {
  background-color: rgb(32, 86, 204);
}

.botaoCancelar {
  height: 52px;
  width: 124px;
  background-color: rgb(226, 46, 46);
  border-radius: 16px;
  border-color: rgb(226, 46, 46);
}

.botaoCancelar:hover {
  background-color: rgb(210, 33, 33);
  border-color: rgb(210, 33, 33);
}

.footer {
  width: 100%;
  background-color: #212429;
  text-align: center;
  color: rgb(255, 255, 255);
  min-height: 20px;
  /* position: sticky; ou "sticky" para um comportamento pegajoso */
  bottom: 0;
  margin: 0;
  padding: 0px;
}

main {
  padding-bottom: 60px;
}

.titleHome {
  color: #dddddd;
  text-align: center;
  font-size: 60px;
  text-shadow: 2px 2px 10px #3498db;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -2px;
}

.futuro {
  color: #76d2f7;
  text-shadow: 2px 2px 10px #c4c4c4;
}

.hover-effect {
  background-color: #76d2f7;
  color: #0a253f;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  min-height: 10vh;
  min-width: 10vh;
  font-size: 20;
  text-transform: uppercase;
  font-weight: bold;
}


.hover-effect:hover {
  background-color: #0a253f;
  transform: scale(1.1);
}

.animacao {
  height: auto;
}

.divTextoHome {
  justify-content: center;
  text-align: center;
}

.animacao2 {
  height: 100px;
}

.animacaoTamanho {
  height: 45rem;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.botaoDoc {
  width: auto;
  height: auto;
text-decoration: none;
color: white;
  border-radius: 16px;
  text-align: center;
  font-size: 15px;
  animation: blink 1.5s 2;
  margin-left: 20px;
  font-size: 16px;
  margin-top: 10px;
}

.detalhesCurso {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: 10px;
  background-color: #002967;
  height: 70px;
}

.iframe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transcricaoCurso {
  display: flex;

  color: white;
  margin-top: 10px;
  height: 70px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
}

.box label {
  padding: 10px;
  cursor: pointer;
  background:#dc3545;
  color: #fff;
  margin: 7px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  text-transform: unset;
  transition: 5. ease;
}

.box label:hover {
  background: #fff;
  color: #dbebf5;

}

.box input {
  display: block;
}

.perfil-container {
  color: white;
}

.titleForum {
  font-size: 35px;
  text-transform: uppercase;
  color: #dbf8fe;
  text-shadow: 0px 2px 4px #1c1e1f;
}

.expand-on-hover {
  transition: transform 0.3s ease-in-out;
  background-color: #dbf8fe;
  height: 100px;
  color: #041017;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #76d2f7;
  box-shadow: 0px 2px 4px #1c1e1f;
}

.expand-on-hover:hover {
  transform: scale(1.1);
}

.hover-comment {
  font-size: 15px;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
  cursor: pointer;
}

.titleOqueE {
  font-size: 35px;
  text-transform: uppercase;
  color: #dbf8fe;
  text-shadow: 0 2px 4px rgb(211, 211, 211)171;
  letter-spacing: -1px;
}

.textoOqueSomos {
  font-size: 25px;
  color: #dbf8fe;

}

.iconHome{
  font-size: 25px;
  background-color: #76d2f7;
  padding: 20px;
  width: 80px;
  height: 80px;
  border-radius: 200%;
  color: #0a253f;
  box-shadow: 3px 3px 1px #dbf8fe;
  transition: transform 0.3s ease-in-out;
}

.iconHome:hover {
  transform: scale(1.1);
}
.titleBolaHome{
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-shadow: 0 2px 4px rgb(0, 0, 0);
  color: #dbf8fe;
}

.textoBolaHome{
  color:#dbf8fe;
}

.textoCardHome{
  text-decoration: none;
  color:#134b6c;
  font-weight: bold;
  font-size: 16px;
}
.active-page {
  font-weight: bold; 
  text-shadow: 0 2px 4px rgb(0, 0, 0);
}

.active-page-offcanvas{
  font-weight: bold;
  color: #dbf8fe;
}

.colunas{
  justify-self: start;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:flex-start;
    color: #dbf8fe;
}

.campos{
  font-size: 20px;
  color: #dbf8fe;
}

.botoesPefil {
  font-size: 18px;
  color: white;
  text-decoration: none;
  background-color: #041017;
  padding: 5px;
  border-radius: 8px;
}