.App {
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#menu {
  cursor: pointer;
}

.linkOffCanvas {
  text-decoration: none;
  color: white;
}

.footerr {
  background-color: #21081a !important;

}

.gradient-btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  background: #0034a3;
  /* fallback for browsers that don't support gradients */
  transition: all 0.3s ease;
  transform: scale(1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 25px;
  display: inline-block;
  /* This is needed for the transform to work correctly */
}

.gradient-btn:hover {
  background: #021166;
  /* color when the cursor is at the end of the button */
  transform: scale(1.05);
  /* slightly increase size */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* add shadow */
}

